---
---
<div>
	<ul class="mt-5">
		<li>
			<strong class="text-xl border-b-[1px] border-t-[1px] border-current py-1">Experience</strong>
			<ul>
				
				<li>
					<!--
						<div style="float: left"><strong>Tutor/Front Desk Assistant</strong></div>
						<div style="float: right">2022-2024</div>
						<div style="text-align: center">Center for Academic Success</div>
						-->
					<strong>Tutor/Front Desk Assistant</strong> - Clayton State University - 2022-2024
					<span class="text-xs">
						<ul>
							<li>
								Tutored CSU students in classes up to Computer Science 2 and Calculus 3.
							</li>
						</ul>
						<ul>
							<li>
								Handled basic administrative office tasks and oversaw the front desk.
							</li>
						</ul>
					</span>
				</li>
				<li>
					<!--
						<div style="float: left"><strong>Teaching Assistant</strong></div>
						<div style="float: right">2023</div>
						<div style="text-align: center">Clayton State University</div>
						-->
					<strong>Teaching Assistant</strong> - Clayton State University - 2023
					<span class="text-xs">
						<ul>
							<li>
								Assisted professors during a week-long all-day bootcamp for incoming freshmen.
							</li>
						</ul>
						<ul>
							<li>
								Taught mathematical skills for inside the classroom and teamwork skills for outside the classroom.
							</li>
						</ul>
					</span>
				</li>
				<li>
				<li>
					<!--
						<div style="float: left"><strong>Legal Assistant</strong></div>
						<div style="float: right">2021-2022</div>
						<div style="text-align: center">Leanne P. Cooper, P.C.</div>
						-->
					<strong>Legal Assistant</strong> - Leanne P. Cooper, P.C. - 2021-2022
					<span class="text-xs">
						<ul>
							<li>
								Drafted legal documents, straight-typed/organizing discovery, and archived closed cases.
							</li>
						</ul>
					</span>
				</li>
				<li>
					<!--
						<div style="float: left"><strong>Programming Mentor</strong></div>
						<div style="float: right">2017-2018</div>
						<div style="text-align: center">CoderDojo McDonough</div>
						-->
					<strong>Coding Mentor (Volunteer)</strong> - CoderDojo McDonough - 2017-2018
					<span class="text-xs">
						<ul>
							<li>
								Taught my own class on the basics of Game Maker Studio to grades K-12.
							</li>
							<li>
								Assisted with other classes ranging from Scratch to Arduino.
							</li>
						</ul>
					</span>
				</li>
				<li>
					<!--
						<div style="float: left"><strong>Robotics Teacher</strong></div>
						<div style="float: right">2016</div>
						<div style="text-align: center">S.T.E.M Academy Stockbridge</div>
						-->
					<strong>Robotics Teacher</strong> - S.T.E.M Academy Stockbridge - 2016
					<span class="text-xs">
					<ul>
						<li>
							Taught the basics of Mindstorm NXT Robotics to grades 6-12.
						</li>
					</ul>
				</li>
			</ul>
			<br>
		<li>
			<strong class="text-xl border-b-[1px] border-t-[1px] border-current py-1">Academics</strong>
			<ul>
				<li>
					<strong>Kennesaw State University</strong> - 1 Semester
					<span class="text-xs">
						<ul>
							<li>
								TBA GPA
							</li>
						</ul>
						
					</span>
				</li>
				<li>
					<strong>Clayton State University</strong> - 4 Semesters
					<span class="text-xs">
						<ul>
							<li>
								4.0 GPA
							</li>
						</ul>
						<ul>
							<li>
								President's List for all semesters.
							</li>
						</ul>
						<ul>
							<li>
								<strong>Math Club Vice President</strong>
								<ul>
									<li>
										Formerly the Treasurer, I was elected the Vice-President of The Math Club in Fall 2023.
									</li>
									<li>
										I helped organize the club and gave multiple math-talks to students on topics including fractals, chess, and 3D raycasting.
									</li>
									<li>
										I created, organized, and lead our monthly chess-days for the campus, which quickly became the club's most popular event.
									</li>
								</ul>
							</li>
						</ul>
						
					</span>
				</li>
				<li>
					<strong>Southern Crescent Technical College</strong> - 2 Semesters
					<span class="text-xs">
						<ul>
							<li>
								4.0 GPA
							</li>
						</ul>
						<ul>
							<li>
								President's List for all semesters.
							</li>
						</ul>
					</span>
				</li>
			</ul>
		</li>
		<br>
		<li>
			<strong class="text-xl border-b-[1px] border-t-[1px] border-current py-1">Research</strong>
			<ul>
				<li>
					<strong><a href="https://arxiv.org/abs/2404.09395" target="_blank">Photon-Based Hardware Random Number Generator</a></strong>
					<span class="text-xs">
						<ul>
							<li>
								Built an HRNG using an Arduino, <a href="https://www.hamamatsu.com/eu/en/product/optical-sensors/mppc/what_is_mppc.html" target="_blank">MPPC</a>, and serially-programmed power supply.
							</li>
							<li>
								Wrote custom analysis software in Python for massive amounts of random data.
							</li>
							<li>
								Developed my own test for random numbers titled The Fractional Line Symmetry Test.
							</li>
						</ul>
					</span>
				</li>
				<li>
					<strong>1st Place at <a href="https://www.clayton.edu/cims/symposium/index" target="_blank">CSU's 2024 CIM's Symposium</a> Research Poster Competition</strong>
				</li>
				<li>
					<strong><a href="https://meetings.aps.org/Meeting/MAR24/Session/F62.14" target="_blank">APS March Meeting Research Presenter</a></strong>
				</li>
			</ul>
		</li>
		<br>
	</ul>
</div>