---
---



<div>
  <ul class="mt-5">


<li>
      <strong class="text-xl">Experience</strong>
	  <ul>
	  
	  <li>

	  <div style="float: left"><strong>48-Hour Game Jam</strong></div>
	  <div style="float: right">2021-Present</div>
	  <div style="text-align: center">GMTK</div>
	  
	  <span class="text-xs">
	  <ul>
	  <li>
	  I participate yearly in the GMTK 48-Hour Game Jams alongside a team where I serve as the lead-programmer and sound-designer.
	  <ul>
	  <li>
	  <a href="https://itch.io/jam/gmtk-2021/rate/1086033" target="_blank">2021 Submission</a>
	  </li>
	  <li>
	  <a href="https://2-bite-processing.itch.io/non-player-character" target="_blank">2023 Submission</a>
	  </li>
	  <li>
	  2024 Submission
	  </li>
	  </ul>
	  </li>
	  </ul>
	  </span>
	  </li>
	  <li>
	  
	  <li>
	  <div style="float: left"><strong>Tutor/Front Desk Assistant</strong></div>
	  <div style="float: right">2022-2024</div>
	  <div style="text-align: center">Center for Academic Success</div>
	  <span class="text-xs">
	  <ul>
	  <li>
	  Tutoring Computer Science and Math as well as watching the front desk and overseeing basic administrative tasks.
	  </li>
	  </ul>
	  </span>
	  </li>
	  <li>
	  
	  
	  
	  <li>

	  <div style="float: left"><strong>Legal Assistant</strong></div>
	  <div style="float: right">2021-2022</div>
	  <div style="text-align: center">Leanne P. Cooper, P.C.</div>
	  <span class="text-xs">
	  <ul>
	  <li>
	  Drafting legal documents, straight-typing/organizing discovery, and archiving closed cases.
	  </li>
	  </ul>
	  </span>
	  </li>
	  <li>
	  
	  
	  <li>
	  
	  <div style="float: left"><strong>Programming Mentor</strong></div>
	  <div style="float: right">2017-2018</div>
	  <div style="text-align: center">CoderDojo McDonough</div>
	  <span class="text-xs">
	  <ul>
	  <li>
	  Teaching my own class on the basics of Game Maker Studio to grades K-12.
	  </li>
	  <li>
	  Assisting with other classes ranging from Scratch to Arduino.
	  </li>
	  </ul>
	  </span>
	  </li>
	  <li>
	  
	  
	 
	  
	  <li>
	  <div style="float: left"><strong>Robotics Teacher</strong></div>
	  <div style="float: right">2016</div>
	  <div style="text-align: center">S.T.E.M Academy Stockbridge</div>
	  <span class="text-xs">
	  <ul>
	  <li>
	  Teaching the basics of Mindstorm NXT Robotics to grades 6-12.
	  </li>
	  </ul>
	  </li>
    </ul>
<br>




    <li>
      <strong class="text-xl">Academics</strong>
	  <ul>
	  
	  <li>
	  <strong>CSU President's List</strong>
	  <span class="text-xs">
	  <ul>
	  <li>
	  I have maintained a 4.0 GPA at Clayton State University for 4 semesters and a 4.0 GPA at Southern Crescent University while dual-enrolled in High School for 2 semesters.
	  </li>
	  </ul>
	  </span>
	  </li>
	  
	  <li>
	  <strong>CSU Math Club Vice-President</strong>
	  <span class="text-xs">
	  <ul>
	  <li>
	  Formerly the Treasurer, I was elected the Vice-President of The Math Club in Fall 2023.
	  </li>
	  <li>
	  I helped organize the club and gave multiple math-talks to students on topics including fractals, chess, and 3D raycasting.
	  </li>
	  <li>
	  I created, organized, and lead our monthly chess-days for the campus, which quickly became the club's most popular event.
	  </li>
	  </ul>
	  </span>
	  </li>

	  
	  </ul>
    </li>
	<br>
	
	
	
	<li>
      <strong class="text-xl">Research</strong>
	  <ul>
	  
	 
	  
	  <li>
	  <strong><a href="https://arxiv.org/abs/2404.09395" target="_blank">Photon-Based Hardware Random Number Generator</a></strong>
	  <span class="text-xs">
	  <ul>

	  <li>
	  Built an HRNG using an Arduino, <a href="https://www.hamamatsu.com/eu/en/product/optical-sensors/mppc/what_is_mppc.html" target="_blank">MPPC</a>, and serially-programmed power supply.
	  </li>
	  <li>
	  Wrote custom analysis software in Python for massive amounts of random data.
	  </li>
	  <li>
	  Developed my own test for random numbers titled The Fractional Line Symmetry Test.
	  </li>
	  
	  </ul>
	  </span>
	  </li>
	  <li>
	  <strong>1st Place at <a href="https://www.clayton.edu/cims/symposium/index" target="_blank">CSU's 2024 CIM's Symposium</a> Research Poster Competition</strong>
	  </li>
	  
	  <li>
	  <strong><a href="https://meetings.aps.org/Meeting/MAR24/Session/F62.14" target="_blank">APS March Meeting Research Presenter</a></strong>
	  </li>
	  
	  </ul>
    </li>
	
	<br>
	
	
	
	
	
	
	
	
	
	
	
  </ul>
</div>
