---
---
<head>
<link href="/fontawesome/css/brands.min.css" rel="stylesheet" />
<link href="/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
</head>
<section>
<div></div>

  <div>
    <center>
    <p class="mb-1 border-current text-xl">
      <strong>
      Hightlights
      </strong>
    </p>
  </center>
	<center>
    <div
      class="border-t-[1px] border-current py-1 flex items-center justify-center gap-1 text-sm" style="width:100%;"
    >
    <a
        class="unset ml-4 hover:text-text-link"
        href="/blog/fls_test"
      >
        <i class="fa" aria-hidden="true" title="Research">&#xf0c3;</i>
        <span>The FLS Test (Research)</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="/blog/diagonal_traversal"
      >
        <i class="fa" aria-hidden="true" title="GitHub">&#xf121;</i>
        <span>Diagonal Traversal (Python)</span>
      </a>

      <a
        class="unset ml-4 hover:text-text-link"
        href="/blog/raycaster1.0"
      >
        <i class="fa" aria-hidden="true" title="GitHub">&#xf121;</i>
        <span>Raycaster (C++)</span>
      </a>
      
    </div>
    </center>

  </div>
 
</section>
