---
import HeaderLink from "./HeaderLink.astro";
---
<head>
<link href="/fontawesome/css/brands.min.css" rel="stylesheet" />
<link href="/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
</head>
<section>


  <div class = "text" style=" margin-bottom:0px; font-size:min(1.8vw, calc(1 * 12px)); font-weight:thin">
    <center>
    <p class="mb-1 border-current" style="margin-bottom:-1px; margin-top:0px">
      <strong>
      HIGHTLIGHTS
      </strong>
    </p>
  </center>
	<center style="margin-top:0px; margin-bottom:0px">
  <hr class="border-t-[1px]" style="width:20%; margin-bottom:-5px"/>
    <div
      class=" border-current py-1 flex items-center justify-center gap-1" style="width:100%; margin-top:0px"
    >
    <HeaderLink
        class="unset ml-4 hover:text-text-link"
        href="/blog/fls_test"
      >
        <i class="fa" aria-hidden="true" title="Research">&#xf0c3;</i>
        <span>The FLS Test (Research)</span>
      </HeaderLink>
      <HeaderLink
        class="unset ml-4 hover:text-text-link"
        href="/blog/diagonal_traversal"
      >
        <i class="fa" aria-hidden="true" title="GitHub">&#xf121;</i>
        <span>Diagonal Traversal (Python)</span>
      </HeaderLink>

      <HeaderLink
        class="unset ml-4 hover:text-text-link"
        href="/blog/raycaster1.0"
      >
        <i class="fa" aria-hidden="true" title="GitHub">&#xf121;</i>
        <span>Raycaster (C++)</span>
      </HeaderLink>
      
    </div>
    </center>

  </div>
 
</section>


