---
---
<head>
<link href="/fontawesome/css/brands.min.css" rel="stylesheet" />
<link href="/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
</head>
<section class="mb-2">
<div class="mb-6"></div>
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-1 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        nikolas thornton
      </span>
	
    </h1>
	<center>
    <p class="mb-6 text-sm">
      Computer Science Undergraduate at Clayton State University
    </p>
  </center>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
    <a
        class="unset ml-4 hover:text-text-link"
        href="mailto: contact@nthorn.com"
      >
        <i class="fa" aria-hidden="true" title="Email">&#xf0e0;</i>
        <span>contact@nthorn.com</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://github.com/nTh0rn"
      >
        <i class="fa-brands fa-github" aria-hidden="true" title="GitHub"></i>
        <span>GitHub</span>
      </a>
      
    </div>
    

  </div>
 
</section>
